<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>User</title>
    <link href="https://cdn.sencha.com/ext/gpl/4.2.1/resources/ext-theme-classic/ext-theme-classic-all.css" rel="stylesheet">
    <script src="https://cdn.sencha.com/ext/gpl/4.2.1//ext-all.js"></script>
    <link rel="stylesheet" type="text/css" href="../YLDemo/css/common.css" />
    <script src="../YLDemo/UserListPanel.js"></script>
    <script src="../YLDemo/app/view/UserGridPanel.js"></script>
    <script src="../YLDemo/app/view/UserGridPanelZi.js"></script>
</head>

<body>
</body>
</html>